
<header>
  <div class="container">
      <div class="nav-brand">
          <a href="/?page=1">
              <h1><span class="dash_blink" style="color: #3fc3b5">KOINBASE</span></h1>
          </a>
      </div>

      <div class="social-buttons">
          <div class="share">
              <a class="highlight_anchor" href="/?page=1" >  🔥 hall of fame</a>
              <a class="highlight_anchor" href="/send_money.php">💸 send money</a>
              <a class="highlight_anchor" href="/profile.php">😃 profile</a>
              <a class="highlight_anchor" href="/auth.php?action=logout">❌ logout</a>
        </div>
      </div>
  </div>
</header>

